<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.binar.chapter8recyclerview">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".NewsApplicaiton"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Chapter8recyclerview"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".DetailStafActivity"
            android:exported="false"
            android:label="@string/title_activity_detail_staf"
            android:theme="@style/Theme.Chapter8recyclerview" />
        <activity
            android:name=".StaffActivity"
            android:exported="false"
            android:label="@string/title_activity_staff"
            android:theme="@style/Theme.Chapter8recyclerview" />
        <activity
            android:name=".DetailActivity"
            android:exported="false"
            android:label="@string/title_activity_detail"
            android:theme="@style/Theme.Chapter8recyclerview" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Chapter8recyclerview">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>